body{
    background-color: cadetblue;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 100px;
}

.container{
    text-align: center;
}

.btn{
    padding: 10px 15px;
    background-color: cadetblue;
    border: 2px solid ;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;   
    color: white;
}

.clear-tasks{
    padding: 10px 15px;
    background-color: cadetblue;
    border: 2px solid ;
    margin-top: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;   
}

.task-input{
    width: 301px;
    height: 20px;
    font-family: 'Raleway', sans-serif;   
}

.filter-input{
    width: 301px;
    height: 20px; 
    font-family: 'Raleway', sans-serif;   
}

.task button{
    margin-left: 10px;
    border: 50%;
    background-color: cadetblue;
    border: 2px solid white;
    color: white;
}

.task-title{
    font-size: 30px;
}

.task{
    list-style-type: none;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif; 
}

